html {
  background-color: #000; }

.type-27 {
  background-color: #000; }
  .type-27 .br-outbest {
    margin-top: 120px;
    padding: 10px 40px;
    background-color: #f4f4f4;
    padding-top: 50px;
    padding-bottom: 50px; }
    .type-27 .br-outbest h2 {
      margin-bottom: 50px;
      margin-left: -15px;
      left: 0; }
      .type-27 .br-outbest h2 span {
        padding-bottom: 25px;
        border-bottom: 1px solid #fc721e; }
        .type-27 .br-outbest h2 span::before {
          content: "";
          position: absolute;
          bottom: 15px;
          border-bottom: 4px solid #fc721e;
          width: 55px;
          height: 1px; }
    .type-27 .br-outbest .mr-move {
      position: relative; }
      .type-27 .br-outbest .mr-move a {
        position: absolute;
        right: 0;
        color: #000;
        font-weight: bold;
        margin-top: 15px;
        border-bottom: 1px solid #000; }
    .type-27 .br-outbest .row-bg {
      padding-right: 5px;
      background-color: #fff;
      padding-bottom: 30px;
      padding-top: 30px;
      margin-left: -3px;
      margin-right: 3px; }
      .type-27 .br-outbest .row-bg p {
        color: #989a9c; }
      .type-27 .br-outbest .row-bg .edit-in {
        background-color: #fff;
        border: none;
        font-weight: bold;
        position: absolute;
        left: 10px; }
    .type-27 .br-outbest .border-row {
      border-right: 20px solid #f4f4f4; }

/* Dành cho máy tính bảng */
@media (max-width: 768px) {
  .type-27 .br-outbest .row-bg {
    border: 1px solid #fc721e;
    margin-bottom: 10px; } }

/* Dành cho điện thoại */
@media (max-width: 480px) {
  .type-27 .br-outbest .row-bg {
    margin-bottom: 10px;
    border: 1px solid #fc721e; } }
